# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
browserconfig.xml
crossdomain.xml
.htaccess
.editorconfig
.gitattributes
.idea/
.sass-cache/
node_modules/