/* Colors */
@font-face {
  font-family: raleway-thin;
  src: url(../fonts/raleway/Raleway-Thin.ttf); }

@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-Regular.ttf); }

@font-face {
  font-family: raleway-med;
  src: url(../fonts/raleway/Raleway-Medium.ttf); }

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/raleway/Raleway-Bold.ttf); }

html, body {
  font-family: raleway-med, raleway, verdana, sans-serif;
  height: 100%;
  font-size: 21px; }

h1 {
  color: #800000; }

.navbar-header {
  width: 100%; }
  .navbar-header .fa {
    color: #800000; }
  .navbar-header button {
    background-color: transparent; }
    .navbar-header button i.fa {
      font-size: 36px;
      margin-top: 28px; }
  .navbar-header .button--m-r-12 {
    position: fixed;
    right: 21%; }
  .navbar-header .button--m-l-12 {
    position: fixed;
    left: 21%; }

aside {
  position: fixed;
  top: 0px;
  display: none;
  width: 20%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  z-index: 1000; }
  aside ul {
    list-style: none;
    padding: 1em; }
    aside ul li {
      padding: 0.5em;
      margin: auto;
      text-align: center;
      font-size: 1.5em; }

aside.sidebar {
  right: 10px;
  -webkit-animation-duration: 1s; }

aside.social {
  left: 10px;
  -webkit-animation-duration: 1s; }

.section {
  width: 100%; }
  .section-main-header h1 {
    font-family: raleway-thin;
    font-size: 5em;
    padding-top: 3em; }
    .section-main-header h1:after {
      display: block;
      content: '';
      width: 40%;
      height: 1px;
      margin: auto;
      border-bottom: 1px solid #800000; }
      @media screen and (max-width: 1000px) {
        .section-main-header h1:after {
          width: 50%; } }
      @media screen and (max-width: 600px) {
        .section-main-header h1:after {
          width: 65%; } }
      @media screen and (max-width: 400px) {
        .section-main-header h1:after {
          width: 100%; } }
  .section-header h1 {
    font-family: raleway-thin;
    font-size: 4em; }
    .section-header h1:after {
      display: block;
      content: '';
      width: 25%;
      height: 1px;
      margin: auto;
      border-bottom: 1px solid #800000; }
      @media screen and (max-width: 1000px) {
        .section-header h1:after {
          width: 50%; } }
      @media screen and (max-width: 600px) {
        .section-header h1:after {
          width: 65%; } }
      @media screen and (max-width: 400px) {
        .section-header h1:after {
          width: 100%; } }
  .section--white {
    background: #ffffff;
    color: #000000; }
  .section--gray {
    background: rgba(51, 51, 51, 0.7);
    color: #000000; }
  .section--black {
    background: #000000;
    color: #ffffff; }
  .section--top-m-50 {
    margin-top: 50px; }
  .section .well {
    background-color: rgba(245, 245, 245, 0.5);
    background-image: none; }
  .section .profile-img {
    width: 200px;
    height: 200px;
    padding: 0.5em;
    float: left; }
  .section .work-imgs {
    width: 100%;
    padding-bottom: 1.5em; }

.section-main-header.fadeIn {
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  -o-animation-duration: 7s;
  -ms-animation-duration: 7s; }

.section-header.slideInLeft, .section-header.slideInRight {
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s; }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax-1 {
    background-image: url("../img/sky.jpg");
    height: 100vh; }
  .parallax-2 {
    background-image: url("../img/air.jpg");
    height: 100%; }
  .parallax-3 {
    background-image: url("../img/lamps-faded.jpg");
    height: 100%; }

.navbar {
  background-image: none;
  background-color: transparent; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none; }

a {
  color: #000000; }
  a:focus, a:active, a:visited {
    color: #000000; }

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll; } }
