.navbar-header {
	width: 100%;

	.fa{
		color: $maroon;
	}

	button {
		background-color: transparent;

		i.fa{
			font-size: 3em;
			margin-top: 28px;
			top: 0;		
		}
	}

	.button--m-r-12{
		position: fixed;
		right: 17%;

		@media (max-width:1023px){
			right: 25%;
		}
		@media (max-width: 600px){
			right: 17%;
		}
	}
	.button--m-l-12{
		position: fixed;
		left: 17%;
		top: 0;

		@media (max-width:1023px){
			left: 25%;
		}
		@media (max-width: 600px){
			left: 17%;
		}		
	}	
}
