.navbar-header {
	width: 100%;

	.fa{
		color: $maroon;
	}

	button {
		background-color: transparent;

		i.fa{
			font-size: 3em;
			margin-top: 28px;			
		}
	}

	.button--m-r-12{
		position: fixed;
		right: 21%;
	}
	.button--m-l-12{
		position: fixed;
		left: 21%;
		top: 0;
	}	
}
