.parallax {

	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&-1 {
		background-image: url("../img/sky.jpg");
	}

	&-2 {
		background-image: url("../img/air.jpg");
	}
	&-3 {
		background-image: url("../img/lamps-faded.jpg");
	}
	&-4 {
		background-image: url("../img/stars.jpg");
	}
	&-5 {
		background-image: url("../img/cityview2-faded.jpg");
	}
	&-6 {
		background-image: url("../img/park-faded.jpg");
	}
	&-7 {
		background-image: url("../img/map.jpg");		
	}

}