aside {
	position: fixed;
	top: 0px;	
	display: none;
	width: 20%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 1000;

	@media (max-width: 1023px){
		width: 30%;
		background-color: $white;
	}

	ul{
		list-style: none;
		padding: 1em;
		li {
			padding: 0.5em;
			margin: auto;
			text-align: center;
			font-size: 1.5em;
		}
	}
	.name {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		color: $maroon;

		h3{
			font-family: raleway-thin;
			font-weight: 600;			
		}	
	}
}

aside.sidebar {
	-webkit-animation-duration: 1s;	
}

aside.sidebar{
	right: 10px;

	@media (max-width: 600px){
		width: 80%;
		right: 0;
	}
}
aside.social {
	left: 10px;

	@media (max-width: 600px){
		width: 80%;		
		left: 0;
	}	
}