aside {
	position: fixed;
	top: 0px;	
	display: none;
	width: 20%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.4);
	z-index: 1000;

	ul{
		list-style: none;
		padding: 1em;
		li {
			padding: 0.5em;
			margin: auto;
			text-align: center;
			font-size: 1.5em;
		}
	}
	.name {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		color: $maroon;

		h3{
		font-family: raleway-thin;
		font-weight: 600;			
		}	
	}
}

aside.sidebar{
	right: 10px;
	-webkit-animation-duration: 1s;
}
aside.social {
	left: 10px;
	-webkit-animation-duration: 1s;	
}